@page
@model JGR_WGU_Capstone.Pages.Maintenances.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Maintenance</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Maintenance.Notes)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Maintenance.Notes)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Maintenance.MaintenanceDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Maintenance.MaintenanceDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Maintenance.MaintenanceID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
