@page
@model JGR_WGU_Capstone.Pages.Reports.ComputerReportModel

@{
    ViewData["Title"] = "ComputerReport";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}


<div class="container-fluid">
    <form class="form-inline" style="float: right;">
        <div class="form-row">
            <label for="make" class="m-1">Model</label>
            <select id="make" asp-for="CompMake" asp-items="Model.Makes" class="form-control m-1">
                <option value="">All</option>
            </select>
            <label for="model" class="m-1">Model</label>
            <select id="model" asp-for="CompModel" asp-items="Model.Models" class="form-control m-1">
                <option value="">All</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary m-1">Filter</button>
    </form>
</div>
<div>
    <span class="font-weight-bold" style="float: left; font-size: x-large;">Computer Report @Model.CurrentDate</span>    
</div>
<br /><br />

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Computer[0].SerialNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Computer[0].Manufacturer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Computer[0].Model)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Computer[0].PurchaseDate)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Computer)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.SerialNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Manufacturer)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Model)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PurchaseDate)
                </td>
            </tr>
        }
    </tbody>
</table>
