@page
@model JGR_WGU_Capstone.Pages.Computers.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Computer[0].SerialNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Computer[0].Manufacturer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Computer[0].Model)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Computer[0].PurchaseDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Computer) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SerialNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Manufacturer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Model)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PurchaseDate)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ComputerID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ComputerID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ComputerID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
